.App {
  text-align: center;
  background: burlywood; 
  color: black;
  min-height: 450px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* border-radius: 10px; */
}

.rotate-image {
  height: 150px;
  width:150px;
  border-radius: 10px;
  pointer-events: none;
  animation: logo infinite 20s linear;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 40px;
}
/* @keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .rotate-image {
  animation: rotate 10s linear infinite;
} */
